@font-face {
    font-family: Poppins;
    src: url('..\fonts\Poppins\Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Poppins-Reg;
    src: url('..\fonts\Poppins\Poppins-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: Poppons;
    background-color: #E9EDC9;
}

/* Sidebar */

.sidebar {
    height: 100vh;
    width: 80px;
    background-color: #CCD5AE;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 45px;
    margin-bottom: 30px;
    max-width: 40px;
    height: 40px;
}

.logo-img {
    max-width: 100%;
    height: auto;
}

.icon {
    width: 35px;
    height: 35px;
    margin-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

a.icon:hover {
    transform: scale(1.1);
}

a.icon:active {
    background-color: #E9EDC9;
    border-radius: 5px;
    padding: 4px;
}

.icon img {
    width: 100%;
}

.back {
    position: relative;
    left: 40px;
    bottom: -120px;
}

/* Main */
main {
    margin-inline-start: 100px;
    font-family: Poppins-Reg;
}

h1.title {
    font-family: Poppins;
    padding-inline: 40px;
    padding-block-start: 40px;
    padding-block-end: 30px;
    font-size: 35px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-bottom: 5%;
    margin-top: 0;
    align-items: center;
    grid-gap: 25px;
}

.grid-quad {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-bottom: 5%;
    margin-top: 0;
    align-items: center;
    grid-gap: 25px;
}

.quadran {
    width: 550px !important;
    height: 270px;
    border-radius: 10px;
    border: none !important;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.q-start {
    width: 700px !important;
    height: 500px;
    border-radius: 10px;
    border: none !important;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

div.q-end {
    width: 370px !important;
    padding-inline: 20px;
    height: 500px;
    border-radius: 10px;
    border: none !important;
    opacity: 70%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.q-1 {
    background-color: rgba(250, 152, 132, 0.80) !important;
}

.q-2 {
    background-color: #FFDB89;
}

.q-3 {
    background-color: #FFEBB4;
}

.q-4 {
    background-color: #C7E8CA;
}

.card-title {
    text-align: center !important;
    text-transform: uppercase;
    font-weight: bold;
    padding-block: 20px;
}

li.card-text {
    padding-inline: 10px;
    margin-block: 10px;
    list-style: none;
}

input[type="checkbox"] {
    margin-inline-start: 20px;
}

label.card-text {
    display: inline-block;
    margin: 0;
}

li.form-check {
    margin: 15px !important;
}

.form-check-input {
    border: 2px solid #4F4A45;
    border-radius: 50% !important;
    background-color: rgba(0, 0, 0, 0.0);
}

.form-check-input:checked {
    background-color: #4F4A45;
    border: #4F4A45;
}

.task-list {
    list-style: none;
}

img.card-icon {
    max-width: 50%;
    height: auto;
    flex-shrink: 0;
    padding-bottom: 50px;
}

.task-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 43%;
}

.q-task-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 48%;
}

.card-icon {
    opacity: 25%;
}

a.card-link:active {
    background: none !important;
}

/* Modal / popup */
.modal-right {
    justify-content: flex-start !important;
}

.btn-green {
    background-color: #CCD5AE;
}

.btn-green:hover {
    background-color: #E9EDC9;
}

.btn-danger {
    background-color: #FA9884 !important;
    border: none;
}

.btn {
    border-radius: 12px !important;
    padding-inline: 38px;
    margin-inline: 15px;
}

.form-control {
    background-color: #E9EDC9 !important;
    opacity: 60%;
    border: none;
    padding-block: 10px;
    margin-block: -5px;
}


/* Footer */
footer {
    font-family: Poppins;
}

h1.footer {
    font-size: 13px;
    margin-inline-start: 80px;
    text-align: center;
    padding-block-start: 50px;
    padding-bottom: 20px;
    opacity: 80%;
}